body {
  color: #fff;
  font-family: veneer;
}

.background {
  background: url("https://steamuserimages-a.akamaihd.net/ugc/491274240789631340/79F9F3628D6E58006CFC4822AEFFF0607D8FDA88/");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mid {
  padding-top: 20vh;
}

.btn-space {
  margin-top: 10px;
}

.h1 {
  font-size: 80px;
}

.h2 {
  font-size: 45px;
}

.bg-primary {
  background: linear-gradient(to right, #000, #fff)!important;

}

.dropdown-item {
  border: 1px solid #000;
  margin-top: 10px;
  background: linear-gradient(to right, #000, #fff)!important;
  color: #fff;
}

.dropdown-menu {
  padding: 10px;
  background-color: #000; 
}

.btn {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  border: #fff 1.5px solid;
  padding: 10px 20px;

  border-radius: 90px;
  margin-top: 20px;
}

.btn:hover {
  background: #fff;
  color: #000;
}

