body {
	color: #fff;
}
.background {
	background: url("https://steamuserimages-a.akamaihd.net/ugc/177163242879595641/FC70363885D3E36A8FC57A1DB612F22F90B37CEB/");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.mid {
	padding-top: 20vh;
}
.btn-space {
	margin-top: 10px;
}
.h1 {
	font-size: 65px;
	text-decoration: underline;
	text-decoration-style: dashed;
}
.h2 {
	font-size: 25px;
	text-decoration: underline;
	text-decoration-style: dashed;
}
.bg-primary {
	background: linear-gradient(to right, #000, #fff)!important;
}
.dropdown-item {
	border: 1px solid #000;
	margin-top: 10px;
	background: linear-gradient(to right, #000, #fff)!important;
	color: #fff;
}
.dropdown-menu {
	padding: 10px;
	background-color: #000;
}
.btn {
	font-size: 18px;
	text-decoration: none;
	color: #fff;
	border: #fff 1.5px solid;
	padding: 10px 20px;
	border-radius: 90px;
	margin-top: 20px;
}
.btn:hover {
	background: #fff;
	color: #000;
}
